<template>
  <div cols="12" class="d-flex">
    <v-btn-toggle
      :value="value"
      borderless dense
      @change="change"
    >
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn v-on="on">
            <v-icon>mdi-filter</v-icon>
          </v-btn>
        </template>
        <span>free text filter</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn v-on="on">
            <v-icon>mdi-sort</v-icon>
          </v-btn>
        </template>
        <span>tim sort specification</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on }">
          <v-btn v-on="on">
            <v-icon>mdi-format-quote-close</v-icon>
          </v-btn>
        </template>
        <span>regex search</span>
      </v-tooltip>
    </v-btn-toggle>
    <v-spacer></v-spacer>
    <v-tooltip bottom v-if="config">
      <template v-slot:activator="{ on }">
        <v-btn v-on="on" depressed @click="$emit('click:cog')">
          <v-icon>mdi-cog</v-icon>
        </v-btn>
      </template>
      <span>configure</span>
    </v-tooltip>
  </div>
</template>

<script>
import {
  VBtnToggle, VTooltip,
  VBtn, VIcon
} from 'vuetify/lib'

export default {
  name: 'VAlphaToggle',
  props: ['value', 'config'],
  components: {
    VBtnToggle, VTooltip,
    VBtn, VIcon
  },
  data: () => ({

  }),
  methods: {
    change(e) {
      this.$emit('change', e)
    }
  }
}
</script>

<style>
</style>
