<template>
  <v-col class="py-0">
    <v-row class="py-0">
      <v-col v-show="showConfig" :cols="(stacked||!currentOption)?12:6">
        <v-select
          dense
          :items="configurableOuterKeys"
          v-model="currentOption"
          outlined
          label="Adjust configuration of"
        ></v-select>
      </v-col>
      <v-col v-show="showConfig && currentOption" :cols="stacked?12:6">
        <v-select
          dense
          outlined
          :items="currentOptionConfigs"
          :value="options[currentOption]"
          @input="updateOptions"
          item-text="text"
          item-value="value"
          label="to"
        ></v-select>
      </v-col>
    </v-row>
  </v-col>
</template>

<script>
import {
  VCol, VHover, VRow,
  VIcon, VBtn, VSelect
} from 'vuetify/lib'

import {identity} from '../src/index.js'
export default {
  props: {
    options: {
      type: Object,
      default: ()=>({})
    },
    functionLookup: {
      type: Object,
      default: () => ({})
    },
    stacked: {
      type: Boolean,
      default: true
    }
  },
  components: {
    VCol, VHover, VRow,
    VIcon, VBtn, VSelect
  },
  created() {
    this.populateDefaults()
    this.emitData()
  },
  data: () => ({
    currentOption: null,
    showConfig: true,
    selections: {},
    renderFunctions: {},
    sortByFunctions: {},
    filterFunctions: {}
  }),
  watch: {
    options: function(newOptions) {
      this.populateDefaults()
    }
  },
  methods: {
    updateOptions(innerKey) {
      this.$set(this.selections, this.currentOption, innerKey)
      let currentConfig = this.options[this.currentOption][innerKey]
      let opts = ['render', 'filter', 'sortBy']

      for (let i = 0; i < opts.length; i++) {
        let t = opts[i]
        let cfg = currentConfig[`${t}Config`]

        let func = this.functionLookup[cfg.functionName]
        let f
        if (func === undefined) {
          f = identity
        } else {
          f = func({...cfg.params})
        }
        this.$set(this[`${t}Functions`], this.currentOption, f)
      }
      this.emitData()
    },

    populateDefaults() {
      let newKeys = false
      let selections = {...this.selections}
      let functions = {
        renderFunctions:{...this.renderFunctions},
        filterFunctions:{...this.sortByFunctions},
        sortByFunctions:{...this.filterFunctions},
      }

      let outerKeys = Object.keys(this.options)
      let opts = ['render', 'filter', 'sortBy']

      outerKeys.forEach((k, i)=>{
        let c = this.options[k]
        let innerKeys = Object.keys(c)

        let s = innerKeys[0]

        if (Object.keys(selections).indexOf(s)>=0) return
        newKeys = true
        selections[k] = s

        for (let i = 0; i < opts.length; i++) {
          let t = opts[i]
          let cfg = c[s][`${t}Config`]

          let func = this.functionLookup[cfg.functionName]
          let f
          if (func === undefined) {
            f = identity
          } else {
            f = func({...cfg.params})
          }

          functions[`${t}Functions`][k] = f
        }
      })

      this.selections = Object.assign({}, selections)

      for (let i = 0; i < opts.length; i++) {
        let t = opts[i]
        this[`${t}Functions`] = Object.assign({}, functions[`${t}Functions`])
      }

      if (newKeys) {
        this.emitData()
      }
    },


    emitData() {
      this.$emit('change', {
        renderFunctions: this.renderFunctions,
        sortByFunctions: this.sortByFunctions,
        filterFunctions: this.filterFunctions,
        selections: this.selections
      })
    }
  },
  computed: {
    outerKeys() {
      return Object.keys(this.options)
    },
    currentInnerKeys() {
      if (this.currentOption === null) return []
      return Object.keys(this.options[this.currentOption])
    },
    currentOptionConfigs() {
      if (this.currentOption === null) return []
      return this.currentInnerKeys.map((k)=>{
        let currentConfigOptions = this.options[this.currentOption]
        return {
          text: `${this.currentOption} by ${k}`,
          value:k
        }
      })
    },
    configurableOuterKeys() {
      return this.outerKeys.filter((k)=>{
        return Object.keys(this.options[k]).length > 1
      })
    }
  }
}
</script>

<style>
</style>
