<template>
  <div class="">
    <template v-for="(and, i) in cnf">
      <template v-for="(or, j) in and">
        <v-icon small v-if="(i && or.logic === 'and') || j"
          :class="[or.logic==='and' ? 'cnf__logic--and' : 'cnf__logic--or']"
          :key="`${i},${j},icon`"
        >
          <template>
            {{ renderLogic(i, j) }}
          </template>
        </v-icon>
        <template v-if="!j">(</template>
        <v-chip
          :key="`${i},${j},chip`"
          small close
          @click:close="remove(i, j)"
        >
          <span class="cnf__function" v-if="or.function !== 'identity'">{{renderFunction(i, j)}}</span>
          <template v-if="or.function !== 'identity'">(</template>
          <span class="cnf__field">{{ renderField(i, j) }}</span>
          <template v-if="or.function !== 'identity'">)</template>
          <span>&nbsp;{{ renderConditional(i, j) }}&nbsp;</span>
          <span>{{ or.input }}</span>
        </v-chip>
        <template v-if="j === and.length-1">)</template>
      </template>
    </template>
    <template v-if="regex!==''">
      <v-icon small
        :class="'cnf__logic--and'"
        :key="`regex,icon`"
        v-if="cnf.length!==0"
      >
        <template>
          {{ displayLogic('and') }}
        </template>
      </v-icon>
      <v-chip
        close small
        @click:close="$emit('clearRegEx')"
      >
        <var>regex:</var>&nbsp;<kbd>/{{regex}}/gi</kbd>
      </v-chip>
    </template>

  </div>
</template>

<script>
import {
  VIcon, VChip
} from 'vuetify/lib'

export default {
  name: 'VFilterView',
  components: {
    VIcon, VChip
  },
  props: {
    cnf: {
      default: () => ([]),
      type:Array
    },
    displayConditional: {
      type: Function,
      default: ()=>{}
    },
    displayFunction: {
      type: Function,
      default: ()=>{}
    },
    displayLogic: {
      type: Function,
      default: ()=>{}
    },
    fieldMap: {
      type: Object,
      default: () => ({})
    },
    regex: {
      default: '',
      type: String
    }
  },
  data: () => ({

  }),
  computed:{

  },
  methods: {
    remove(i, j) {
      let sum = 0
      for (let k = 0; k < i; k++) {
        sum += this.cnf[k].length
      }
      sum += j
      this.$emit('remove', sum)
    },
    renderLogic(i, j) {
      return this.displayLogic(this.cnf[i][j].logic)
    },
    renderFunction(i, j) {
      return this.displayFunction(this.cnf[i][j].function)
    },
    renderConditional(i, j) {
      return this.displayConditional(this.cnf[i][j].conditional)
    },
    renderField(i, j) {
      let f = this.cnf[i][j].field
      if (this.fieldMap === null) return f
      let mapped = this.fieldMap[f]
      if (mapped === undefined) return f
      return mapped
    }
  }
}
</script>

<style scoped>
.cnf__logic--and {
  color: #0072ff !important;
}
.cnf__logic--or {
  color: #00c6ff !important;
}

.cnf__field {
  color: #f83600;
}

.cnf__function {
  color: black;
}
</style>
