<template>
  <v-col>
    <v-card tile flat class="overflow-hidden">
      <v-data-table
        :loading="status!==null"
        :page="page"
        :items-per-page="recordsPerPage"
        @update:items-per-page="recordsPerPage=$event"
        :items="timsorted"
        :calculate-widths="true"
        fixed-header
        :show-select="showSelect"
        :headers-length="fields.length"
      >


        <template v-slot:top>
          <v-row>
            <v-col cols="12">
              <VAlphaToggle
                class="mx-4"
                :value="selectTopIcon"
                @change="selectTopIcon=$event"
                :config="hasUserSettableConfig"
                @click:cog="drawer=true"
              />
            </v-col>

            <v-col  cols="12"
              v-if="filtersGroupedByConjunctiveNormalForm.length>0 || globalRegEx !== ''"
            >
              <VFilterView
                class="mx-4"
                :cnf="filtersGroupedByConjunctiveNormalForm"
                :displayConditional="displayConditional"
                :displayFunction="displayFunction"
                :displayLogic="displayLogic"
                @remove="removeFilter"
                :regex="globalRegEx"
                @clearRegEx="chipClearRegEx"
                :fieldMap="configFieldMap"
              />
            </v-col>
          </v-row>

          <v-row v-show="selectTopIcon===0">
            <v-col cols="12">
              <v-text-field
                v-model="filterInput"
                label="Free Text" class="mx-4"
                clearable
                append-icon="mdi-filter"
                @keyup.enter="logicCascade"
                persistent-hint
                :hint="`type statements in the form of 'logic field (function) test value'.`"
              >
              </v-text-field>
            </v-col>
          </v-row>

          <v-row v-show="selectTopIcon===1">
            <v-col cols="12">
              <VTimSort
                class="mx-4"
                :sorts="sortSpecifications"
                :fields="fields"
                :configFieldMap="configFieldMap"
                @remove="removeSort"
                @toggled="updateSort"
              />
              </v-autocomplete>
            </v-col>
          </v-row>

          <v-row v-show="selectTopIcon===2">
              <v-col cols="12">
                <v-text-field
                 :value="globalRegEx"
                 label="Global Search" class="mx-4"
                 clearable
                 @change="debounceRegEx"
                 @input="debounceRegEx"
                 append-icon="mdi-format-quote-close"
               >
              </v-text-field>
            </v-col>
          </v-row>
        </template>

        <template v-slot:progress>
          <v-row class="mx-4">
            <v-col>
              Status: {{status}}
            </v-col>
          </v-row>
          <v-progress-linear color="purple" :height="10" indeterminate></v-progress-linear>
        </template>


        <template v-slot:header="{ props: { headers } }">
          <thead>
            <tr>
              <th v-if="showSelect">
                <v-checkbox
                  @change="toggleAll"
                  v-model="checkboxAllModel"
                >
                </v-checkbox>
              </th>
              <th
                v-for="(field, i) in fields"
                :key="`header-${field}`"
                @click="headerToggleSortField(field)"
              >
                <v-col>
                  <v-hover  v-slot:default="{ hover }">
                    <div class="d-inline-flex">
                      <span class="align-self-center">{{humanFriendlyFields[i]}}</span>
                      <v-btn icon text >
                        <v-badge>
                          <template v-slot:badge>
                            <span v-if="fieldSortNumber(field)!==undefined && hover">
                              {{fieldSortNumber(field)+1}}
                            </span>
                          </template>
                          <v-icon
                            :style="opacityStyle((hover || fieldSortNumber(field)!==undefined))"
                          >
                            {{fieldSortIcon(field)}}
                          </v-icon>
                        </v-badge>
                      </v-btn>
                    </div>
                  </v-hover>
                </v-col>
              </th>
            </tr>
          </thead>
        </template>


        <template v-slot:item="{ item }">
          <!-- <tbody> -->
            <tr
              :key="`item-${item}`"
              @click="$emit(`click:record`, item)"
              @mouseover="$emit(`mouseover:record`, item)"
              @mouseleave="$emit(`mouseleave:record`, item)"
            >
              <td v-if="showSelect">
                <v-checkbox
                  @change="toggleSelect(item)"
                  :input-value="inCheckboxIds(item) > -1"
                >
                </v-checkbox>
              </td>
              <td
                v-for="field in fields"
                :key="`item-${item}-${field}`"
                v-html="fieldRender(item, field)"
                @click="$emit(`click:recordfield`, {event:$event, id:item, field})"
                @mouseover="$emit(`mouseover:recordfield`, {event:$event, id:item, field})"
                @mouseleave="$emit(`mouseleave:recordfield`, {event:$event, id:item, field})"
              >
              </td>
            </tr>
          <!-- </tbody> -->
        </template>

      </v-data-table>
      <v-navigation-drawer
        temporary
        absolute
        v-model="drawer"
        v-if="hasUserSettableConfig"
      >
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              Configuration Panel
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <VConfig
          @change="changeUserConfig"
          :options="configOptions"
          :functionLookup="functionLookup"
        />
      </v-navigation-drawer>
    </v-card>
  </v-col>
</template>

<script>
// import needed components from Vuetify
import {
  VDataTable, VCol,
  VHover, VRow, VTextField, VAutocomplete, VProgressLinear,
  VBadge, VIcon, VBtn, VNavigationDrawer, VCheckbox
} from 'vuetify/lib'


// import needed components from this library
import VFilterView from './VFilterView.vue'
import VTimSort from './VTimSort.vue'
import VAlphaToggle from './VAlphaToggle.vue'
import VConfig from './VConfig.vue'


// import utility functions
import {
  extractTokensFromMap,
  jsonFields,
  lookup,
  defaultFieldRenderFunction,
  defaultFieldSortByFunction,
  defaultFieldFilterFunction,
  sortDirectionFromSpecification,
  conjunctiveNormalFormFilter,
  giRegexOnFields,
  timsort,
  groupByConjunctiveNormalForm,
  extractFiltersFromText,
  sortTokens,
  sortNumberFromSpecification,
  toggleSortSpecification,
  debounce,
  sleep,
  uuidv4,
  isObjectEmpty
} from '../src/index.js'

// import default configs
import {
  configCNFLogic,
  configCNFFunctions,
  configCNFConditionals,
  configCNFExtractors,
  configTKNFunctionMap,
  configTKNConditionalMap,
  configFieldRenderFunctions,
  configFieldFilterFunctions,
  configFieldSortByFunctions
} from '../src/config.js'


export default {
  name: 'VRecordsTable',
  components: {
    VFilterView,
    VTimSort,VAlphaToggle,
    VDataTable, VCol,
    VHover, VRow, VTextField, VAutocomplete, VProgressLinear,
    VBadge, VIcon, VBtn, VNavigationDrawer, VConfig
  },
  props: {
    json: {
      type: Object,
      default: () => ({})
    },
    configCNFLogic: {
      type: Object,
      default: () => (configCNFLogic)
    },
    configCNFFunctions: {
      type: Object,
      default: () => (configCNFFunctions)
    },
    configCNFConditionals: {
      type: Object,
      default: () => (configCNFConditionals)
    },
    configCNFExtractors: {
      type: Object,
      default: () => (configCNFExtractors)
    },
    configTKNFunctionMap: {
      type: Object,
      default: () => (configTKNFunctionMap)
    },
    configTKNConditionalMap: {
      type: Object,
      default: () => (configTKNConditionalMap)
    },
    fieldRenderFunctions: {
      type: Object,
      default: () => (configFieldRenderFunctions)
    },
    fieldFilterFunctions: {
      type: Object,
      default: () => (configFieldFilterFunctions)
    },
    fieldSortByFunctions: {
      type: Object,
      default: () => (configFieldSortByFunctions)
    },
    fieldOrder: {
      type: Array,
      default: ()=>([])
    },
    configFieldMap: {
      type: Object,
      default: ()=>({})
    },
    configOptions: {
      type: Object,
      default: () => ({})
    },
    functionLookup: {
      type: Object,
      default: () => ({})
    },
    regexForPunctuation: {
      type: String,
      default: undefined
    },
    showSelect: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    filterInput: '',
    selectTopIcon: 0,
    // json: dummydata,
    page: 0,
    isPaginated: true,
    recordsPerPage: 5,
    globalRegEx: '',
    sortSpecifications:[],
    // fieldOrder: [],

    filters: [],
    filterErrors: [],

    filtered: null,
    regmatched: null,
    timsorted: null,

    isTextProcessing: false,
    isFiltering: false,
    isRegmatching: false,
    isTimSorting: false,
    status: null,

    drawer: false,
    userFieldRenderFunctions: {},
    userFieldFilterFunctions: {},
    userFieldSortByFunctions: {},


    checkboxIds: [],
    checkboxAllModel: false
  }),
  computed: {
    $fieldRenderFunctions() {
      return {...this.fieldRenderFunctions, ...this.userFieldRenderFunctions}
    },
    $fieldFilterFunctions() {
      return {...this.fieldFilterFunctions, ...this.userFieldFilterFunctions}
    },
    $fieldSortByFunctions() {
      return {...this.fieldSortByFunctions, ...this.userFieldSortByFunctions}
    },

    uid() {
      return uuidv4()
    },
    namespace() {
      return `valpha-${this.uid}`
    },
    ids() {
      return Object.keys(this.json)
    },
    configFunctionTokens(){
      return extractTokensFromMap(this.configTKNFunctionMap)
    },
    configConditionalTokens() {
      return extractTokensFromMap(this.configTKNConditionalMap)
    },
    configFieldTokens() {
      return sortTokens([... new Set([...this.fields, ...this.humanFriendlyFields])])
    },
    allFields() {
      return jsonFields(this.json)
    },
    fields() {
      return this.fieldOrder.length === 0
        ? this.allFields
        : this.fieldOrder
    },
    humanFriendlyFields() {
      if (this.configFieldMap === null || isObjectEmpty(this.configFieldMap)) {
        return this.fields
      }

      let o = []
      this.fields.forEach((field)=>{
        let humanFriendly = this.configFieldMap[field]
        if (humanFriendly === undefined) {
          o.push(field)
        } else {
          o.push(humanFriendly)
        }
      })
      return o
    },
    fieldsReverseLookup() {
      if (this.configFieldMap === null) {
        let o = {}
        this.fields.forEach((f)=>o[f]=f)
        return o
      } else {
        let o = {}
        this.humanFriendlyFields.forEach((f, i)=>{
          o[f] = this.fields[i]
        })
        return o
      }
    },
    numberOfRecords() {
      return this.ids.length
    },
    numberOfFilteredRecords() {
      return Object.keys(this.timsorted).length
    },
    filtersGroupedByConjunctiveNormalForm() {
      return groupByConjunctiveNormalForm(this.filters)
    },

    hasUserSettableConfig() {
      return Object.keys(this.configOptions).length > 0
    }
  },

  methods: {
    inCheckboxIds(id) {
      for (let i = 0; i < this.checkboxIds.length; i++) {
        let other = this.checkboxIds[i]
        if (id === other) return i
      }
      return -1
    },
    toggleSelect(id) {
      let inCheckboxIds = this.inCheckboxIds(id)
      if (inCheckboxIds > -1) {
        this.checkboxIds.splice(inCheckboxIds, 1)
      } else {
        this.checkboxIds.push(id)
      }
    },
    toggleAll() {
      if (this.checkboxAllModel === true) {
        this.checkboxIds = this.timsorted
        // this.checkboxAllModel = true
      } else {
        this.checkboxIds = []
        // this.checkboxAllModel = false
      }
    },


    changeUserConfig(payload) {
      this.userFieldRenderFunctions = payload.renderFunctions
      this.userFieldFilterFunctions = payload.filterFunctions
      this.userFieldSortByFunctions = payload.sortByFunctions
      this.$emit('change:config', payload)
    },



    removeFilter(i) {
      let temp = [...this.filters]
      temp.splice(i, 1)
      this.filters = [...temp]
      // this.filters.splice(i, 1)
    },
    displayConditional(conditional) {
      return this.configCNFConditionals[conditional].display
    },
    displayFunction(func) {
      return this.configCNFFunctions[func].display
    },
    displayLogic(logic) {
      return this.configCNFLogic[logic].display
    },
    headerToggleSortField(field) {
      this.$emit('click:header', field)
      this.toggleSortField(field)
    },
    toggleSortField(field) {
      let temp = toggleSortSpecification(this.sortSpecifications, field)
      this.sortSpecifications = [...temp]
    },

    record(id) {
      return this.json[id]
    },
    fieldRenderFunction(field) {
      return lookup(this.$fieldRenderFunctions, field, defaultFieldRenderFunction)
    },
    fieldSortByFunction(field) {
      return lookup(this.$fieldSortByFunctions, field, defaultFieldSortByFunction)
    },
    fieldFilterFunction(field) {
      return lookup(this.$fieldFilterFunctions, field, defaultFieldFilterFunction)
    },
    fieldRender(id, field) {
      return this.fieldRenderFunction(field)(id, field, this.record(id))
    },
    fieldSortBy(id, field) {
      return this.fieldSortByFunction(field)(id, field, this.record(id))
    },
    fieldFilter(id, field) {
      return this.fieldFilterFunction(field)(id, field, this.record(id))
    },
    fieldSortDirection(field) {
      return sortDirectionFromSpecification(this.sortSpecifications, field)
    },
    fieldSortIcon(field) {
      let dir = this.fieldSortDirection(field)
      if (dir === undefined) return 'mdi-arrow-up'
      if (dir) return 'mdi-arrow-up'
      return 'mdi-arrow-down'
    },
    fieldSortNumber(field) {
      return sortNumberFromSpecification(this.sortSpecifications, field)
    },

    async logicCascade() {
      let text = this.filterInput
      this.filterInput = ''
      let filters = await this.getFilters(text)
    },

    async getFilters(text) {
      this.isTextProcessing = true
      this.status = 'Extracting logical statements'
      // await sleep(1000)

      let [validFilters, errorFilters] = await extractFiltersFromText(
        text,
        this.configFieldTokens,
        this.configCNFLogic,
        this.configCNFFunctions,
        this.configCNFConditionals,
        this.configTKNFunctionMap,
        this.configTKNConditionalMap,
        this.configFunctionTokens,
        this.configConditionalTokens,
        this.regexForPunctuation,
        this.fieldsReverseLookup
      )
      let newFilters = validFilters.map(({filter})=>(filter))
      this.filters = [...this.filters, ...newFilters]
      await this.$nextTick()

      this.filterErrors = errorFilters
      this.isTextProcessing = false
      // this.status = null

      return this.filters
    },


    async filterJSON() {
      if (this.filters.length === 0) {
        // console.log('no filters',  this.filtered)
        this.filtered = [...this.ids]
        await this.$nextTick()
        return this.filtered
      }
      // console.log('filterJSON called')
      this.isFiltering = true
      this.status = 'Applying filters to data'
      // await sleep(1000)

      this.filtered = await conjunctiveNormalFormFilter(
        this.json,
        this.filters,
        this.configCNFLogic,
        this.configCNFFunctions,
        this.configCNFConditionals,
        this.$fieldFilterFunctions
      )
      await this.$nextTick()

      this.isFiltering = false
      // this.status = null
      // console.log('filterJSON done')

      return this.filtered
    },

    async regmatchJSON() {


      // console.log('regmatchJSON called')
      this.isRegmatching = true
      this.status = 'Searching passing data for RegEX'
      // await sleep(1000)
      let ids = this.filtered
      if (this.globalRegEx === '') {
        this.regmatched = [...ids]
        await this.$nextTick()

        return ids
      }

      this.regmatched = await giRegexOnFields(
        this.globalRegEx,
        this.json,
        ids,
        this.fields,
        this.$fieldFilterFunctions
      )
      await this.$nextTick()

      this.isRegmatching = false
      // this.status = null
      // console.log('regmatchJSON done')

      return this.regmatched
    },

    async timSortJSON() {
      // console.log('timSortJSON called')
      this.isTimSorting = true
      this.status = 'Sorting remaining data'
      // await sleep(1000)

      this.timsorted = await timsort(
        this.json,
        this.sortSpecifications,
        this.regmatched,
        this.$fieldSortByFunctions
      )
      await this.$nextTick()

      this.isTimSorting = false
      // this.status = null
      // console.log('timSortJSON done')

      return this.timsorted
    },
    displayConditional(conditional) {
      return this.configCNFConditionals[conditional].display
    },
    displayFunction(func) {
      return this.configCNFFunctions[func].display
    },
    displayLogic(logic) {
      return this.configCNFLogic[logic].display
    },
    debounceRegEx: debounce(function(e){
      this.globalRegEx = e
    }, 500),
    removeSort(i){
      // this.sortSpecifications.splice(i, 1)
      let temp = [...this.sortSpecifications]
      temp.splice(i, 1)

      this.sortSpecifications = temp

    },
    updateSort(newSortSpecifications) {
      this.sortSpecifications = [...newSortSpecifications]
    },
    async chipClearRegEx(event) {

      this.debounceRegEx('')
      await this.$nextTick()
    },
    opacityStyle(bool) {
      return {
        opacity: bool ? 1 : 0
      }
    }

  },
  created() {
    // setup initial
    let ids = Object.keys(this.json)
    this.filtered = ids
    this.regmatched = ids
    this.timsorted = ids
  },
  watch: {
    checkboxIds: function (newCheckboxIds) {
      this.$emit('change:checkbox', newCheckboxIds)
    },
    filters: function(newFilters) {
      // console.log('new filters', newFilters)
      this.$emit('filters', newFilters)
      this.filterJSON().then(()=>{
        this.status = null
      })

    },
    filtered: function(newFiltered) {
      // console.log('new filtered', newFiltered)
      this.$emit('filtered', newFiltered)
      this.regmatchJSON().then(()=>{
        this.status = null
      })
    },
    regmatched: function(newRegmatched) {
      this.$emit('regmatch', newRegmatched)
      this.timSortJSON().then(()=>{
        this.status = null
      })
    },
    timsorted: function(newTimsorted) {
      this.$emit('timsort', newTimsorted)
    },
    sortSpecifications: function(newSortSpecifications) {
      // console.log('new sort', newSortSpecifications)
      this.$emit('sortspec', newSortSpecifications)
      this.timSortJSON().then(()=>{
        this.status = null
      })
    },
    globalRegEx: function(newGlobalRegEx) {
      // await newGlobalRegEx
      this.regmatchJSON().then(()=>{
        this.status = null
      })
    }
  }
}
</script>

<style>
.no-opacity {
  opacity: 0
}
</style>
