<template>
  <v-autocomplete
    :value="sorts"
    :items="items"
    label="TimSort"
    multiple
    item-value="field"
    item-text="humanFriendly"
    clearable
    hide-selected
    append-icon="mdi-sort"
    @change="timsortAutocompleteChange"
    ref="autocomplete"
  >
    <template slot="selection" slot-scope="data" >
      <v-chip
         :input-value="data.selected"
         close small
         class="chip--select-multi"
         @click:close="timsortAutocompleteRemove(data.item.field)"
         @click.prevent.stop="timsortAutocompleteToggle(data.item.field)"
      >
        <v-avatar>
          <v-icon>
            {{fieldSortIcon(data.item.field)}}
          </v-icon>
        </v-avatar>
        {{ data.item.humanFriendly }}
      </v-chip>
    </template>
  </v-autocomplete>
</template>


<script>
import {
  VAutocomplete, VChip,
  VAvatar, VIcon
} from 'vuetify/lib'

import {
  toggleSortSpecification,
  sortNumberFromSpecification,
  sortDirectionFromSpecification
} from '../src/index.js'

export default {
  name: 'VTimSort2',
  components: {
    VAutocomplete, VChip,
    VAvatar, VIcon
  },
  props: {
    sorts: {
      type: Array,
      default: () => ([])
    },
    fields: {
      type: Array,
      default: () => ([])
    },
    configFieldMap: {
      type: Object,
      default: null
    }
  },
  data: () => ({
  }),
  computed: {
    icons() {
      return this.sorts.map(({field})=>this.fieldSortIcon(field))
    },
    items() {
      let o = []
      this.fields.forEach((f, i)=>{
        o.push({field:f, humanFriendly:this.humanFriendlyFields[i]})
      })
      return o
    },
    humanFriendlyFields() {
      if (this.configFieldMap === null) {
        return this.fields
      }

      let o = []
      this.fields.forEach((field)=>{
        let humanFriendly = this.configFieldMap[field]
        if (humanFriendly === undefined) {
          o.push(field)
        } else {
          o.push(humanFriendly)
        }
      })
      return o
    },
    fieldsReverseLookup() {
      if (this.configFieldMap === null) {
        let o = {}
        this.fields.forEach((f)=>o[f]=f)
        return o
      } else {
        let o = {}
        this.fields.forEach((f, i)=>{
          o[this.humanFriendlyFields[i]] = this.fields[i]
        })
        return o
      }
    },
  },
  methods: {
    fieldSortIcon(field) {
      let dir = sortDirectionFromSpecification(this.sorts, field)
      if (dir === undefined) return 'mdi-arrow-up'
      if (dir) return 'mdi-arrow-up'
      return 'mdi-arrow-down'
    },
    timsortAutocompleteChange(fields) {
      if (fields.length === 0) {
        this.$emit('toggled', [])
        return
      }
      console.log(fields)
      let newFields = fields.filter(f=>{
        return sortNumberFromSpecification(this.sorts, f)===undefined
      })
      this.timsortAutocompleteToggle(newFields)
    },
    timsortAutocompleteRemove(field) {
      let i
      for (i = 0; i < this.sorts.length; i++) {
        if (this.sorts[i].field ===  field) break
      }
      this.$emit('remove', i)
    },
    timsortAutocompleteToggle(field) {
      let sorts = this.sorts.concat()
      if (Array.isArray(field)) {
        field.map(f => {
          sorts = toggleSortSpecification(sorts, f)
        })
      } else {
        sorts = toggleSortSpecification(sorts,  field)
      }
      this.$emit('toggled', sorts)
    }
  }
}
</script>


<style>
</style>
