<template>
  <v-app dark>
    <v-app-bar clipped-left fixed app clipped-right>
      <v-toolbar-title v-text="title" />
      <v-spacer />

    </v-app-bar>

    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>

    <v-footer fixed app>
      <span>&copy; 2020</span>
    </v-footer>
  </v-app>
</template>

<script>

export default {
  components: {

  },
  data: () => ({
    feedbackDialog: false,
    drawer: false,
    items: [
      {
        icon: 'mdi-apps',
        text: 'Welcome',
        link: '/'
      },
    ],
    title: 'VAlpha'
  }),
}
</script>
