<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <a href="https://www.gitlab.com/sumneuron/valpha">link to repo</a>
      </v-col>

      <v-col cols="12">
        <p>
          Try copy pasting the following text into the free text filter
          <ul>
            <li>
              timsort1 &lt; 2
            </li>
            <li>
              array length &lt; 5
            </li>
            <li>
              array length &lt; 5 or timsort2 &gt; 2
            </li>
            <li>
              array contains 5 or min array &gt; 4
            </li>
          </ul>
        </p>
      </v-col>
    </v-row>
    <v-row>
      <VRecordsTable
        :json="data"
        :fieldRenderFunctions="fieldRenderFunctions"
        :configFieldMap="configFieldMap"
        :configOptions="options"
        :functionLookup="functionLookup"
        :show-select="false"
      />
    </v-row>
  </v-container>
</template>

<script>
import VRecordsTable from '@/components/VRecordsTable.vue'
import VConfig from '@/components/VConfig.vue'
import data from '@/static/dummy-data.json'


// functions throughout this component depend upon
// the signature (id, field, record)
export const identity = (id, field, record) => record[field]


// set some default render functions
// NOTE: there are also filter and sortBy functions
const fieldRenderFunctions = {
  array: (id, field, record) => {
    let n = id.replace('record', '')
    if (n % 2 === 0) return record[field]
    return `${record[field].length}-len array`
  },
  arrobj: (id, field, record) => {
    let n = id.replace('record', '')
    if (n % 2 === 0) return `${record[field].length}-len obj-array`
    let v = record[field][record[field].length-1].v
    return `last obj val ${v}`
  },
  url: (id, field, record) => {
    let n = id.replace('record', '')
    let u = `<a href="${record[field]}">link</a>`
    if (n % 2 === 0) return `${u}`
    return record[field]
  }
}

// set column names to something other than internal field name
const configFieldMap = {
  arrobj: 'Array of Objects',
  timsort1: 'TimSort',
}



// how the record table renders, filters and sorts fields can be
// dynamically set by the user if you provide the corresponding config

// first, we define some functions to work on the field "array"
const alternatingArray = (id, field, record) => {
  let n = id.replace('record', '')
  if (n % 2 === 0) return record[field]
  return `${record[field].length}-len array`
}
const lastOfArray = (id, field, record) => {
  let last = record[field][record[field].length-1]
  return `last el of arr is ${last}`
}
const lenOfArray = (id, field, record) => {
  return record[field].length
}

// then whe define a function that should return a function with signature
// (id, field, record)
const makeArrayFunction = (params)=>{
  let name = params.name
  if (name === 'alternatingArray') return alternatingArray
  if (name === 'lastOfArray') return lastOfArray
  if (name === 'lenOfArray') return lenOfArray
  return identity
}

// then we provide a function lookup
export const functionLookup = {
  makeArrayFunction
}

// lastly we define the config
const configOptions = {
  array: { // <--- field which is configurable
    alternatingProfile: { // <-- option name
      renderConfig: { //<--- how it should render
        functionName: 'makeArrayFunction',
        params: { name: 'alternatingArray' }
      },
      filterConfig: { //<--- how it should filter
        functionName: 'makeArrayFunction',
        params: { name: 'identity' }
      },
      sortByConfig: { //<--- how it should sort
        functionName: 'makeArrayFunction',
        params: { name: 'lenOfArray' }
      }
    },
    lastElementProfile: {
      renderConfig: {
        functionName: 'makeArrayFunction',
        params: { name: 'lastOfArray' }
      },
      filterConfig: {
        functionName: 'makeArrayFunction',
        params: { name: 'identity' }
      },
      sortByConfig: {
        functionName: 'makeArrayFunction',
        params: { name: 'lenOfArray' }
      }
    }
  }
}



export default {
  components: {
    VRecordsTable, VConfig
  },
  data: () => ({
    data,
    fieldRenderFunctions,
    configFieldMap,
    options:configOptions,
    functionLookup
  }),

  methods: {

  }
}
</script>
